/**
 * CSS Configuration
 * 
 * This configuration file sets up Tailwind CSS, a utility-first CSS framework.
 * It includes base styles, components, and utilities provided by Tailwind CSS.
 * 
 * Base Styles:
 * - Sets the background color, text color, font size, line height, and letter spacing for the body element.
 * 
 * Custom Classes:
 * - .flex-center: A custom class that sets the display to flex and centers the content both horizontally and vertically.
 * - .btn: A custom class for buttons, setting width, height, text color, and border radius.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 0.5rem;
}
