@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 0.5rem;
}
